[submodule "deps/Abstract_Prog_Syntax"]
	path = deps/Abstract_Prog_Syntax
	url = https://github.com/isabelle-utp/Abstract_Prog_Syntax.git
[submodule "deps/UTP"]
	path = deps/UTP
	url = https://github.com/isabelle-utp/UTP.git
[submodule "deps/UTP-Designs"]
	path = deps/UTP-Designs
	url = https://github.com/isabelle-utp/UTP-Designs.git
[submodule "deps/UTP-Reactive"]
	path = deps/UTP-Reactive
	url = https://github.com/isabelle-utp/UTP-Reactive.git
[submodule "deps/UTP-Reactive-Designs"]
	path = deps/UTP-Reactive-Designs
	url = git@github.com:JunmingZhao42/UTP-Reactive-Designs.git
	branch = utp-mcp
[submodule "deps/Shallow-Expressions"]
	path = deps/Shallow-Expressions
	url = git@github.com:JunmingZhao42/Shallow-Expressions.git
	branch = utp-mcp
[submodule "deps/Optics"]
	path = deps/Optics
	url = git@github.com:JunmingZhao42/Optics.git
	branch = utp-mcp
[submodule "deps/Z_Toolkit"]
	path = deps/Z_Toolkit
	url = git@github.com:JunmingZhao42/Z_Toolkit.git
	branch = utp-mcp
[submodule "deps/Circus_Toolkit"]
	path = deps/Circus_Toolkit
	url = git@github.com:JunmingZhao42/Circus_Toolkit.git
	branch = utp-mcp
